@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.text-gradient{
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#50cb78] to-[#088fbf];
}

::selection{
    background-color: #17c617;
    color: white;
}

.card-bg{
    @apply bg-gray-100
}

.nav-btn{
    @apply relative flex-col flex items-center w-[8vmin] lg:w-[5vmin] lg:h-[5vmin] border-none hover:bg-gray-200   rounded-[50%] justify-center;
}

.admin-card{
    @apply flex flex-col  rounded-md w-[20%] h-[50vh] justify-center items-center hover:-translate-y-4 hover:-translate-x-2 duration-300
}

.image-card{
    @apply flex rounded-lg p-1  flex-col w-[100%] h-[100%]  space-y-1  justify-center relative items-center  duration-500 hover:w-[120%]  hover:h-[120%] hover:absolute hover:z-50 hover:-translate-y-10 hover:-translate-x-3 hover:border-2 card-bg hover:shadow-2xl shadow-black

}
.image-card:hover >.card-data {
    @apply  flex absolute bottom-0 duration-500 ;
}
.image-card:hover>.pr-image{
    @apply absolute top-8
}


::-webkit-scrollbar{
    display: none;
}

.card-data{
    display: none;
}

#navigation{
    display: none;
}

@media only screen and (max-width:800px){
    #search_space,#cart{
        display: none;
    }
    #navigation{
        display: flex;
    }
}

